
#one {
    color:antiquewhite;
}
#two {
    color:blueviolet;
}
#three {
    color:turquoise;
}
#four {
    color:yellowgreen;
}
p {
    color:cornflowerblue;
}
s {
    color:red;
}
h1 {
    color:red;
}