
#one {
    color:antiquewhite;
}
#two {
    color:blueviolet;
}
#three {
    color:turquoise;
}
#four {
    color:yellowgreen;
}
p {
    color:cornflowerblue;
}
#new {
    background-color: aqua;
    height:400px;
    width:300px;
}
s {
    color:red;
}
h1 {
    color:red;
}
